@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Modificações do body */
#App * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#App {
  height: 100vh;
}

#container {
  width: 100%;
  /* max-width: 588px; */
  margin: 0px auto 0px;
  padding: 0 24px;
  padding-top: 56px;
}
#conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media only screen and (max-width: 700px) {
  #conteudo {
    width: 80%;
  }
  #container {
    width: 80%;
  }
}
