.tecnologiasContainer {
    width: 100%;
    max-width: 960px;
    padding: 20px;
    background-color: #444343;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin: 20px auto;
  }
  
  .tecnologiasHeader {
    width: 100%;
    text-align: center;
  }
  
  .tecnologiasHeader h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    transition: color 0.3s;
  }
  
  .tecnologiasHeader h2:hover {
    color: #007bff;
  }
  
  .tecnologiasContent {
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
    color: #555;
    transition: max-height 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .linguagensContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #333;
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 16px;
    margin-top: 16px;
  }
  
  .linguagensItem {
    padding: 2px 2px;
    margin: 8px;
  }
  
  @media only screen and (max-width: 700px) {
    /* Celulares maiores */
    .tecnologiasContainer {
      width: 90%;
      padding: 14px;
    }
    .tecnologiasHeader h2 {
      width: 80%;
    }
    .tecnologiasContent {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }