li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 24px;
    margin: 24px;

    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    background: var(--surface-color);

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: bold;
}

/* Pseudo selector */
li a:hover {
    background: var(--surface-color-hover);
    border: 1px solid var(--text-color);
}

/*Responsividade*/

@media only screen and (max-width: 480px) { /* Celulares menores */
    li a {
        margin: 24px 50px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 700px) { /* Celulares maiores */
    li a {
        margin: 24px 100px;
    }
}

@media only screen and (min-width: 701px) and (max-width: 1024px) { /* Tablets */
    li a {
        margin: 24px 200px;
    }
}

@media only screen and (min-width: 1025px) { /* Computadores */
    li a {
        margin: 24px 500px;
    }
    
}
